#btn-sub {
    margin-left: auto;
    background-color: var(--primary-color);
    border-radius: 40px;
    padding: 1rem 1rem;
    border: none;
    color: white;
}

#btn-login {
    margin-right: 1.5rem;
    border-radius: 40px;
    padding: 1rem 1rem;
    border: none;
    min-width: 95px;
}

#btn-sub:hover {
    background-color: rgb(200, 0, 0);
    cursor: pointer;
}

#btn-login:hover {
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}

#btn-sub,
#btn-login {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: clamp(0.5rem, 2.5vw, 1rem);

}


/* Mobile Version */

#hamburger-sub {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}

#hamburger-login {
    font-size: 1.5rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 0.5rem;
}

#hamburger-sub:focus {
    background-color: rgb(202, 16, 16);
}


/* Media query */
@media (max-width:600px) {

    #btn-sub,
    #btn-login {
        display: none;

    }

}