:root {
    --border-color: #C8D3D5;

    --background-color: #1E1E24;

    --details-color: #547AA5;

    --primary-color: #92140C;
    --secondary-color: #256EFF;

}


body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Noto Sans';
}