/* Tema färger */

:root {
    --border-bottom: #FF3131;
    --border-color: #9DB5B2;

    --background-color: #FFF8F0;
    --background-color-nav: hsl(0, 52%, 21%);

    --details-color: #547AA5;

    --primary-color: #FF3131;
    --secondary-color: #256EFF;

}


body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Noto Sans';
}